<section class="section section--border-bottom pb-1" id="Skills" data-id="7d2f8dd"
    data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default col-auto">
        <div class="elementor-column elementor-col-autp elementor-top-column elementor-element elementor-element-b0260e4"
            data-id="b0260e4" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-af747ac me-heading elementor-widget elementor-widget-heading"
                    data-id="af747ac" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container-fluid">
                        <h2 class=" rad-animation-group rad-fade-down ml-5 pl-5">My Skills</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-989ff4f elementor-widget elementor-widget-image text-center"
                    data-id="989ff4f" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container mr-5">
                        <img class="lozad image-responsive mx-auto d-block"
                        width="900px"
                            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                            data-src="{{ .Site.Data.homepage.skills.image.x | absURL }}"
                            data-srcset="{{ .Site.Data.homepage.skills.image.x | absURL }} 1x, {{ .Site.Data.homepage.skills.image._2x | absURL }} 1x"
                            alt="skills" />
                    </div>
                </div>
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-00eb6d9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="00eb6d9" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-wide">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-852f65e"
                            data-id="852f65e" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-9f2772a elementor-widget elementor-widget-progress"
                                    data-id="9f2772a" data-element_type="widget" data-widget_type="progress.default">


                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7aaa45f"
                                data-id="7aaa45f" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-86bf6dd elementor-widget elementor-widget-progress"
                                        data-id="86bf6dd" data-element_type="widget"
                                        data-widget_type="progress.default">

                                    </div>
                                    <div class="elementor-element elementor-element-4487eea elementor-widget elementor-widget-progress"
                                        data-id="4487eea" data-element_type="widget"
                                        data-widget_type="progress.default">

                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
        </div>
    </div>
</section>